services:
  db:
    image: mysql:8.4
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
      DB_NAME: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}
    ports:
      - ${DB_OUTPUT_PORT}:${DB_PORT}
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
